@import "~bootstrap/scss/bootstrap.scss";
*{
    box-sizing: border-box;
}
.flex-row {
    margin-top: 80px;
    background-color: black;
    border-radius: 10px;
}
.canciones {
    cursor: pointer;
    height: 35px;
}
.head {
    font-family: 'Itim', cursive;
}
.numero, .titulo {
    font-family: 'Itim', cursive;
    padding-top: 5px;
    font-size: 18px;
}
.box {
    height: 400px;
    overflow: auto;
}
.btn {
    background-color: black;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: white; 
}